@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #1B1D1F !important;
    font-family: 'Roboto', sans-serif !important;
}

.cs-max-w {
    max-width: 1980px !important;
}

.cs-mt {
    margin-top: 10% !important;
}

.cs-transition {
    transition: .5s !important;
}

.cs-w {
   max-width: 500px !important; 
}

.cs-w-two {
    width: 75% !important;
}

.blind-slat {
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, #ccc, #eee);
  margin-bottom: 4px;
}

/*Background*/
.cs-bg-image {
    background: url('../resources/bg-cafe-lg.jpg') no-repeat top center / 100% auto;
    background-color: #111315 !important;
}

.cs-bg-one {
    background-color: #1B1D1F !important;
}

.cs-bg-vector {
    background: url('../resources/vector.svg') no-repeat top right;
}

.cs-bg-price {
    background-color: #BEE3CC !important;
}

.cs-bg-badge {
    background-color: #F6C768 !important;
}

/*Font*/
.cs-tc-one {
    color: #FEF7EE !important;
}

.cs-tc-two {
    color: #6F757C !important;
}

.cs-tc-three {
    color: #F6C768 !important;
}

.cs-tc-four {
    color: #111315 !important;
}

.cs-fw-700 {
    font-weight: 700 !important;
}

/*Buttons*/
.cs-btn:hover,
.cs-btn:focus {
    background-color: #6F757C !important;
}